{{ define "footer" }}
<footer class="page-footer cyan darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          
          <a class="header-anker white-text brand-logo left" href="/"
                style=" height: 100%;"><img class="code-database-logo-img"
                    style="width:60%; height: 60%; padding: 20px 0;" src='/static/public/code-database.png'></a>
          <p class="grey-text text-lighten-4">
            プログラミングに関する記事を発信中！<br>
            毎週記事をアップしていきます！  
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">サイトマップ</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href='/'>ブログトップへ</a></li>
            <li><a class="grey-text text-lighten-3" href='/knowledges'>記事一覧へ</a></li>
            <li><a class="grey-text text-lighten-3" href="/categories">カテゴリ一覧</a></li>
            <li><a class="grey-text text-lighten-3" href="/tags">タグ一覧</a></li>
            <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
            <li><a class="grey-text text-lighten-3" href="/privacy">プライバシーポリシー</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSeP0_N_ImzIqExhXri6m4ZZSF84US9-ypjXVzNihOI3wI7oHA/viewform?embedded=true">お問い合わせ</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">© 2020 Code Database Team</div>
    </div>
  </footer>
{{ end }}