{{ define "footer" }}
<footer class="page-footer cyan darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Code Database</h5>
          <p class="grey-text text-lighten-4">
            プログラミングに関する記事を発信中！<br>
            毎週記事をアップしていきます！  
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://developer.mozilla.org/ja/docs/Web/JavaScript" target="_blank">JavaScript公式ドキュメント</a></li>
            <li><a class="grey-text text-lighten-3" href="https://jp.vuejs.org/index.html" target="_blank">Vue.js公式ドキュメント</a></li>
            <li><a class="grey-text text-lighten-3" href="https://docs.python.org/ja/3.7/" target="_blank">Python3.7公式ドキュメント</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">© 2020 Code Database Team</div>
    </div>
  </footer>
{{ end }}