<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name="description" content="トップページ | Code Databaseはプログラミングに関する情報を発信しているサイトです。毎週記事をアップしているので是非チェックしてみてください！">
    <meta property="og:site_name" content="Code Database" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://code-database.com/" />
    <meta property="og:title" content="Code Database" />
    <meta property="og:description"
        content="トップページ | Code Databaseはプログラミングに関する情報を発信しているサイトです。毎週記事をアップしているので是非チェックしてみてください！" />
    <meta property="og:image"
        content="https://s3-ap-northeast-1.amazonaws.com/code-database.com/images/code-database-ogp.png" />
    <meta name="robots" content="index, follow">
    <link rel='icon' href='/static/public/favicon.ico'>
    <link rel='stylesheet' href='/node_modules/materialize-css/dist/css/materialize.min.css'>
    <link rel='stylesheet' href='/static/css/user_top.css/'>
    <title>トップ | Code Database</title>
</head>
<body>
    {{ template "header" .Header }}
    <div class="row whole-container">
        <div class="col l12 introtuce-container row">
            <div class='background'>
                <div class='col offset-m2 m8 offset-l5 l6 center introduce-info-container'>
                    <h1>効率的で着実なスキルアップを</h1>
                    <p>Code Databaseはプログラミング中級者向けのサイトです。すぐに開発に応用できる知識を、サンプルコードを用いた丁寧な解説と一緒に記事にしてお届けしています。</p>
                    <a class="start-button cyan darken-1" href='/categories'>スキル別に探す</a>
                    <a class="start-button cyan darken-1" href='/knowledges'>全記事を見る</a>
                </div>
            </div>
        </div>
        <div class="col l12 knowledge-info-container">
            <nav class="col l3 transparent breadcrumb-countainer">
                <div class="nav-wrapper">
                    <div itemscope itemtype="https://schema.org/BreadcrumbList" class="col s12 breadcrumb-wrapper">
                        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <a itemprop="item" href="/" class="breadcrumb cyan-text text-darken-4"><span
                                    itemprop="name">トップ</span></a>
                            <meta itemprop="position" content="1" />
                        </span>
                    </div>
                </div>
            </nav>
            <div class='col l12 knowledge-info'>
                <h2>おすすめ記事</h2>
                <hr>
                {{ range .UserTopPage.RecomendedKnowledges }}
                <div class="col s12 m4 card_wrapper">
                    <div class="cp_card02">
                
                        <div class="photo">
                            <a class="link_box" href="/knowledges/{{.Knowledge.ID |html|}}"></a>
                            <img class="photo1 responsive-img" alt="{{ .Knowledge.Title }}" src="{{ .Knowledge.EyecatchSrc }}">
                        </div>
                        <div class="description">
                            <a class="link_box" href="/knowledges/{{.Knowledge.ID |html|}}"></a>
                            <div class="knowledge_title">
                                <h1>{{ .Knowledge.Title }}</h1>
                            </div>
                            <ul class="tag_list hide-on-med-and-down">
                                {{ range .SelectedTags }}
                                <li><a href="/tags/{{.ID}}" class="tag">{{ .Name }}</a></li>
                                {{ end }}
                            </ul>
                            <div class="date">最終更新日: {{ .Knowledge.UpdatedAt }}</div>
                            <div class="like">いいね:{{ .Knowledge.Likes }}</div>
                        </div>
                
                    </div>
                </div>
                {{ end }}
                <a class="knowledge-start-button" href='/knowledges'>記事をもっとみる</a>
            </div>
            <div class='col l12 knowledge-info'>
                <h2>いいねの多い記事</h2>
                <hr>
                {{ range .UserTopPage.LikedKnowledges }}
                <div class="col s12 m4 card_wrapper">
                    <div class="cp_card02">
                
                        <div class="photo">
                            <a class="link_box" href="/knowledges/{{.Knowledge.ID |html|}}"></a>
                            <img class="photo1 responsive-img" alt="{{ .Knowledge.Title }}" src="{{ .Knowledge.EyecatchSrc }}">
                            
                        </div>
                        <div class="description">
                            <a class="link_box" href="/knowledges/{{.Knowledge.ID |html|}}"></a>
                            <div class="knowledge_title">
                                <h1>{{ .Knowledge.Title }}</h1>
                            </div>
                            <ul class="tag_list hide-on-med-and-down">
                                {{ range .SelectedTags }}
                                <li><a href="/tags/{{.ID}}" class="tag">{{ .Name }}</a></li>
                                {{ end }}
                            </ul>
                            <div class="date">最終更新日: {{ .Knowledge.UpdatedAt }}</div>
                            <div class="like">いいね:{{ .Knowledge.Likes }}</div>
                        </div>
                
                    </div>
                </div>
                {{ end }}
                <a class="knowledge-start-button" href='/knowledges?sort=like'>いいねの多い記事をもっとみる</a>
            </div>
            <div class='col l12 knowledge-info'>
                <h2>新着記事</h2>
                <hr>
                {{ range .UserTopPage.RecentKnowledges }}
                <div class="col s12 m4 card_wrapper">
                    <div class="cp_card02">
                
                        <div class="photo">
                            <a class="link_box" href="/knowledges/{{.Knowledge.ID |html|}}"></a>
                            <img class="photo1 responsive-img" alt="{{ .Knowledge.Title }}" src="{{ .Knowledge.EyecatchSrc }}">
                            
                        </div>
                        <div class="description">
                            <a class="link_box" href="/knowledges/{{.Knowledge.ID |html|}}"></a>
                            <div class="knowledge_title">
                                <h1>{{ .Knowledge.Title }}</h1>
                            </div>
                            <ul class="tag_list hide-on-med-and-down">
                                {{ range .SelectedTags }}
                                <li><a href="/tags/{{.ID}}" class="tag">{{ .Name }}</a></li>
                                {{ end }}
                            </ul>
                            <div class="date">最終更新日: {{ .Knowledge.UpdatedAt }}</div>
                            <div class="like">いいね:{{ .Knowledge.Likes }}</div>
                        </div>
                
                    </div>
                </div>
                {{ end }}
                <a class="knowledge-start-button" href='/knowledges?sort=update'>新着記事をもっとみる</a>
            </div>
        </div>
    </div>
    {{ template "footer" }}
</body>
</html>