<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name="description" content="タグ一覧ページ | Code Databaseはプログラミングに関する情報を発信しているサイトです。毎週記事をアップしているので是非チェックしてみてください！">
    <meta property="og:site_name" content="Code Database" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://code-database.com/tags" />
    <meta property="og:title" content="Code Database" />
    <meta property="og:description"
        content="タグ一覧ページ | Code Databaseはプログラミングに関する情報を発信しているサイトです。毎週記事をアップしているので是非チェックしてみてください！" />
    <meta property="og:image"
        content="https://s3-ap-northeast-1.amazonaws.com/code-database.com/images/code-database-ogp.png" />
    <meta name="robots" content="index, follow">
    <link rel='icon' href='/static/public/favicon.ico'>
    <title>タグ一覧ページ | Code Database</title>
    <link rel='stylesheet' href='/node_modules/materialize-css/dist/css/materialize.min.css'>
    <link rel='stylesheet' href='/static/css/user_tags.css/'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164168719-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-164168719-1');
    </script>
    <script type="text/javascript">
        function DivFrameClick(id) {
            document.location.href = `${id}`;
        }
    </script>
    <script data-ad-client="ca-pub-3445201371824373" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    {{ template "header" .Header }}
    <div class="row">
        <nav class="col l3 transparent breadcrumb-countainer">
            <div class="nav-wrapper">
                <div itemscope itemtype="https://schema.org/BreadcrumbList" class="col s12 breadcrumb-wrapper">
                    <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="/knowledges" class="breadcrumb cyan-text text-darken-4"><span
                                itemprop="name">トップ</span></a>
                        <meta itemprop="position" content="1" />
                    </span>
                    >
                    <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="/tags" class="breadcrumb cyan-text text-darken-4"><span
                                itemprop="name">タグ一覧</span></a>
                        <meta itemprop="position" content="2" />
                    </span>
                </div>
            </div>
        </nav>
        <div class="col s12 m12 l9">
            <div class='tagpage_title'>タグ一覧</div>
            <div class='tagpage_description'>Code Databaseに登録されているタグの一覧です。気になるタグをクリックして記事を探してみましょう。</div>   
        </div>


        <div class="col s0 m0 l3 hide-on-med-and-down">
            <div class="tag_container">
                <table class="tag_table striped ">
                    <thead>
                        <h6 class='tag_title'>タグランキング</h6>
                    </thead>
                    <tbody>
                        {{ range .TagsPage.TagRanking }}
                        <tr onclick="DivFrameClick('/tags/{{.TagID |html|}}');">
                            <td class="center"></td>
                            <td><a href="/tags/{{.TagID}}" class="tag">{{ .TagName }}</a></td>
                            <td class="center">記事数:{{ .CountOfRefferenced }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                <div class="search_container">
                    <h6>キーワード検索</h6>
                        <input 
                        id="search_input" 
                        placeholder="キーワードを入力" 
                        
                        type='text'
                        value=""
                        >
                        <input 
                        id="search_submit" 
                        type='button' 
                        value="検索"
                        >
                </div>
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3445201371824373" data-ad-slot="2399876013"
                    data-ad-format="auto" data-full-width-responsive="true"></ins>
            </div>
        </div>
        <div class='col s12 m12 l9 tagpage_tags'>
            {{ range $v:= .TagsPage.Tags }}
                <div class="col s6 m4 l3">
                    <div class="tag_tables" onclick="DivFrameClick('/tags/{{.Tag.ID |html|}}');">
                        <div class="center"></div>
                        <a href="/tags/{{.Tag.ID}}" class="tag">{{ .Tag.Name }}</a>&nbsp;&nbsp;記事数:{{ .CountOfRefferenced }}
                    
                    </div>
                </div>
            {{ end }}
            <ul class="pagination col s12 m12 l12 center">
                {{ if ne .TagsPage.PageNation.PageNum 1 }}
                <li class="waves-effect"><a href="/tags?page={{.TagsPage.PageNation.PrevPageNum}}"><i
                            class="material-icons">chevron_left</i></a>
                </li>
                {{ end }}
                {{ range .TagsPage.PageNation.PageElems }}
                {{ if .IsSelect }}
                <li class="active cyan darken-1"><a>{{ .PageNum }}</a></li>
                {{ else }}
                <li class="waves-effect grey lighten-1"><a class="white-text" href="/tags?page={{.PageNum}}">{{ .PageNum }}</a></li>
                {{ end }}
                {{ end }}
                {{ $length := len .TagsPage.PageNation.PageElems }}
                {{ if ne .TagsPage.PageNation.PageNum $length  }}
                <li class="waves-effect"><a href="/tags?page={{.TagsPage.PageNation.NextPageNum}}"><i
                            class="material-icons">chevron_right</i></a></li>
                {{ end }}
            </ul>
        </div>

        <div class="col s12 m12 l0 hide-on-large-only">
            <div class="tag_container">
                <table class="tag_table striped ">
                    <thead>
                        <h6 class='tag_title'>タグランキング</h6>
                    </thead>
                    <tbody>
                        {{ range .TagsPage.TagRanking }}
                        <tr onclick="DivFrameClick('/tags/{{.TagID |html|}}');">
                            <td class="center"></td>
                            <td><a href="/tags/{{.TagID}}" class="tag">{{ .TagName }}</a></td>
                            <td class="center">記事数:{{ .CountOfRefferenced }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                  <div class="search_container">
                    <h6>キーワード検索</h6>
                        <input 
                          id="search_input" 
                          placeholder="キーワードを入力" 
                          
                          type='text'
                          value=""
                        >
                        <input 
                          id="search_submit" 
                          type='button' 
                          value="検索"
                        >
                </div>
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3445201371824373" data-ad-slot="2399876013"
                    data-ad-format="auto" data-full-width-responsive="true"></ins>
            </div>
           
        </div>
    </div>
    {{ template "footer" }}
    <script src='/static/js/user_knowledges.js'></script>
    <script>
    window.onload = function() {
    　　 (adsbygoogle = window.adsbygoogle || []).push({});
    }
    </script>
</body>

</html>