<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="About | Code Databaseはプログラミングに関する情報を発信しているサイトです。毎週記事をアップしているので是非チェックしてみてください！"
    />
    <meta property="og:site_name" content="Code Database" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://code-database.com/about" />
    <meta property="og:title" content="Code Database" />
    <meta
      property="og:description"
      content="About | Code Databaseはプログラミングに関する情報を発信しているサイトです。毎週記事をアップしているので是非チェックしてみてください！"
    />
    <meta property="og:image" content="https://s3-ap-northeast-1.amazonaws.com/code-database.com/images/code-database-ogp.png" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="/public/favicon.ico" />
    <title>Code Databaseとは？ | Code Database</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164168719-1"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'UA-164168719-1')
    </script>
    <script type="text/javascript">
      function DivFrameClick(id) {
        document.location.href = `${id}`
      }
    </script>
    <script data-ad-client="ca-pub-3445201371824373" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    {{ template "header" .Header }}
    <div class="display row">
      <nav class="col s12 m12 l2 transparent breadcrumb-countainer">
        <div class="nav-wrapper">
          <div itemscope itemtype="https://schema.org/BreadcrumbList" class="col s12 breadcrumb-wrapper">
            <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a itemprop="item" href="/" class="breadcrumb cyan-text text-darken-4"><span itemprop="name">トップ</span></a>
              <meta itemprop="position" content="1" />
            </span>
            >
            <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a itemprop="item" href="/about" class="breadcrumb cyan-text text-darken-4"><span itemprop="name">About</span></a>
              <meta itemprop="position" content="2" />
            </span>
          </div>
        </div>
      </nav>
      <div class="col s12 m9 offset-m2 l8">
        <div class="content_header">
          <div class="content_title">About Code Database</div>
          <div class="content_description">Code Databaseの紹介とその特徴について説明します。</div>
        </div>

        <div class="display_about row">
          <div class="tokutyo_text col s12 m12 l12">Code Databaseとは？</div>
          <div class="col s12 m4 l4">
            <img class="image_about" src="https://s3-ap-northeast-1.amazonaws.com/code-database.com/images/code-database-ogp.png" />
          </div>
          <div class="col s12 m8 l8">
            Code
            Databaseは、エンジニアを目指している人たちへのプログラミングに関する情報を発信しています。JavaScriptのようなWEB系の言語からC++のような組み込み系の言語まで幅広く紹介していきます。フレームワークやライブラリのインストールと環境統合から基本的な文法知識、実践的なアプリの開発まで用途に応じた記事を作成しています。
          </div>

          <div class="tokutyo_text col s12 m12 l12">Code Databaseの特徴</div>
          <div class="col s12 m12 l12">
            <div class="card white">
              <div class="card-content black-text">
                <span class="card-title">1. 多くの言語・ライブラリに関する記事がある</span>
                <p>
                  Code DatabaseにはJavaScript, Vue.js, React.js, Nuxt.js, Python, Go言語, Unity, C++,
                  OpenCVなどあらゆるプログラミング言語やフレームワークの情報を発信しています。
                </p>
                <img class="image_about" alt="JavaScript, Vue.js, React.js, Nuxt.js, Python, Go言語, Unity, C++, OpenCV" src="/public/about.png" />
              </div>
            </div>
          </div>
          <div class="col s12 m12 l12">
            <div class="card white">
              <div class="card-content black-text">
                <span class="card-title">2. ハンズオン形式で学べる記事がある</span>
                <p>
                  <a href="https://code-database.com/knowledges/89">GolangとVue.jsとChart.jsで小さなSPAアプリを作る方法について解説</a
                  >の記事のように実際に学びながらアプリを作成することができます。このようなハンズオン形式で学べる記事をどんどんアップする予定です。
                </p>
                <br />
                <p>(アプリの例)</p>
                <img
                  src="https://image.code-database.com/uploads/file1588119331504golang_vue.gif"
                  alt="GolangとVue.jsとChart.jsで小さなSPAアプリを作る方法について解説"
                />
              </div>
            </div>
          </div>
        </div>
        <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=codedatabas03-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=4480511202&linkId=22f8ae23776bcd506b66a0686248fb2a"></iframe>
        <div class="col s12 m12 l12 center">
          <a class="toKnowledgesLink" href="/knowledges">記事一覧をみる</a>
        </div>
      </div>
    </div>
    {{ template "footer" }}
  </body>
</html>
