select {
    display: block;
}

body {
    background-color: #e8f5f7;
}

#select-display select {
    display: block;
}

.elem_tag {
    margin-right: 0.7rem;
    display: inline-block;
    width: 15rem;
}

input[type=text].title-input {
    padding-left: 1rem;
    width: 40rem;
}

select.select-eyecatch{
    width: 20rem;
}

.edit-block-container {
    padding: 1rem;
    background-color: white;
}

.tag-select-container {
    display: inline-block;
}

iframe html .mce-content-body h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.0em 1.0em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
   
}

h3 {
    position: relative;
    padding: 0.25em 0;
    font-size: 1.25rem;
    font-weight: 700;
    padding-left: 25px;
  }



  iframe html .mce-content-body h3:before {
    font-size: 1.25rem;
    font-weight: 700;
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 15px transparent;
    border-bottom: solid 15px rgb(119, 195, 223);
}
iframe  .mce-content-body h3:after {
    font-size: 1.25rem;
    font-weight: 700;
    position: absolute;
    content: '';
    bottom: -3px;
    left: 10px;
    width: 99%;
    border-bottom: solid 3px rgb(119, 195, 223);
}