html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

body {
    background-color: #e8f5f7;
    margin: 0;
    padding: 0;
    width: 100%;
    position: static;
    min-height: 100%;
    box-sizing: border-box;
}

footer {
    position: relative;
    margin-top: 0;
    padding: 0;
    width: 100%;
    bottom: 0;
}

.whole-container {
    padding-bottom: 2rem;
}

nav.breadcrumb-countainer {
    margin-top: 2rem;
    height: auto;
    line-height: .875rem;
}

.nav-wrapper {
    height: 3rem;
}

.breadcrumb-countainer {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.breadcrumb {
    font-size: .875rem;
    font-weight: bold;
}

.breadcrumb-wrapper {
    height: auto;
    font-size: .875rem;
    font-weight: bold;
    margin: 0;
    color: #827b7b;
}

.introtuce-container {
    height: 400px;
    width: 100%;
    background-color: black;
}

.row .col.introtuce-container {
    padding: 0;
    /* opacity: 0.95; */
}

.row, .introtuce-container {
    margin-bottom: 0;
}

.introtuce-container .background {
    height: 400px;
    background-image: url("https://knowledge-blog.s3-ap-northeast-1.amazonaws.com/uploads/top-background.png");
    background-size: 100% auto;
}

.start-button {
    margin-top: 2rem;
    display: inline-block;
    width: 12rem;
    outline: 0;
    border-radius: 2px;
    background: #00acc1;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: none;
    line-height: 3rem;
    font-size: 1.2rem;
}

.introtuce-container h1 {
    padding-top: 4rem;
    color: #fff;
    font-size: 2.28rem;
    font-weight: bold;
}

.introtuce-container p {
    color: #fff;
    font-size: 1rem;
    text-align: left;
}

.row .col.knowledge-info-container {
    padding: 0 5rem;
}

.knowledge-info-container .knowledge-info {
    padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .row .col.knowledge-info-container {
        padding: 0;
    }
}

.knowledge-info-container .knowledge-info h2 {
    font-size: 2rem;
    font-weight: bold;
}

.knowledge-info-container .knowledge-info .knowledge-start-button {
    margin-top: 2rem;
    display: inline-block;
    width: 100%;
    outline: 0;
    border-radius: 2px;
    background: #00acc1;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: none;
    line-height: 3rem;
    font-size: 1.2rem;
}

.row .col .card_wrapper {
    padding: 0rem 1rem 0rem 1rem;
}

@media screen and (max-width: 480px) {
    select.select-sort {
        bottom: 0.5rem;
        right: 0;
    }
}

.cp_card02 {
    font-size: 14px;
    line-height: 1.45em;
    position: relative;
    overflow: hidden;
    /* height: 10em; */
    margin: 0 auto 1.6%;
    border-radius: 3px;
    background: #ffffff;
    -webkit-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
}

.cp_card02 .link_box {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.cp_card02 .photo {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

.cp_card02 .description {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    padding: 10px;
    min-height: 10em;
    display: table;
    z-index: 0;
}

.cp_card02 .description::before {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 100%;
    content: '';
    background: #ffffff;
}

.cp_card02 .description .knowledge_title {
    position: absolute;
    width: auto;
    top: 5%;
    float: left;
    font-size: 1.2rem;
    line-height: 1em;
    margin: 0 0 0px 0;
    display: table-cell;
    min-height: 20%;
    max-height: 45%;
    z-index: 1;
}

.cp_card02 .description .knowledge_title h1 {
    font-size: 1.2rem;
    margin: 0 0 0px 0;
    z-index: 2;
}

.cp_card02 .description .tag_list {
    position: absolute;
    top: 50%;
    width: 95%;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    max-height: 40%;
    z-index: 4;
}

.cp_card02 .description ul li {
    margin-right: 4px;
}

.cp_card02 .description ul li .tag {
    font-size: 0.8em;
    margin-right: 0;
    padding: 0.2em 0.6em;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    background-color: #827b7b;
    line-height: 1em;
    position: left;
    z-index: 99;
    margin: 0 0 0px 0;
}

.cp_card02 .description ul li .tag:hover {
    opacity: 0.5;
}

.cp_card02 .description .like {
    position: absolute;
    right: 0.5rem;
    top: 80%;
    font-size: 0.9em;
    line-height: 1.45em;
    margin-bottom: 10px;
    text-decoration: none;
    color: #827b7b;
    height: 20%;
    z-index: 1;
}

.cp_card02 .description .date {
    position: absolute;
    top: 80%;
    left: 1rem;
    font-size: 0.9em;
    line-height: 1.45em;
    margin-bottom: 10px;
    text-decoration: none;
    color: #827b7b;
    height: 20%;
    z-index: 1;
}

@media screen and (max-width: 480px) {
    .cp_card02 .description h1 {
        font-size: 1.3em;
    }
    .row .col .card_wrapper {
        padding: 0rem 0rem 0rem 0rem;
    }
}